<mat-card class="header-card">
  <h2>Product List</h2>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search Product</mat-label>
    <input matInput [(ngModel)]="searchText">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addProduct()">
    Add Product
  </button>
</mat-card>

<div class="product-grid">

  <mat-card class="product-card" *ngFor="let product of filteredProducts">

    <h3>{{ product.name }}</h3>
    <p class="price">₹ {{ product.price }}</p>

    <div class="actions">

      <button mat-icon-button color="primary" (click)="viewDetails(product.id)">
        <mat-icon>visibility</mat-icon>
      </button>

      <button mat-icon-button color="accent" (click)="editProduct(product.id)">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="deleteProduct(product.id)">
        <mat-icon>delete</mat-icon>
      </button>

    </div>

  </mat-card>

</div>
