<div class="auth-container">

  <mat-card class="auth-card">

    <h2>Login</h2>

    <form [formGroup]="loginForm">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="loginForm.controls.email.invalid">
          Valid email required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="loginForm.controls.password.invalid">
          Password is required
        </mat-error>
      </mat-form-field>

      <div class="error" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>

      <button 
        mat-raised-button 
        color="primary" 
        class="full"
        (click)="login()"
        [disabled]="loading">

        {{ loading ? 'Logging in...' : 'Login' }}

      </button>

    </form>

  </mat-card>

</div>
