<div class="auth-container">

  <mat-card class="auth-card">

    <h2>Register</h2>

    <form [formGroup]="registerForm">

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="registerForm.controls.name.invalid">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="registerForm.controls.email.invalid">
          Valid email required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="registerForm.controls.password.invalid">
          Minimum 4 characters
        </mat-error>
      </mat-form-field>

      <div class="error" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>

      <button 
        mat-raised-button 
        color="primary" 
        class="full"
        (click)="register()"
        [disabled]="loading">

        {{ loading ? 'Registering...' : 'Register' }}

      </button>

    </form>

  </mat-card>

</div>
