.table-container {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

table {
  width: 100%;
}

th {
  font-weight: 600;
  background: #f5f7fa;
}

td, th {
  padding: 14px;
}

tr:hover td {
  background: #fafafa;
}

button {
  transform: scale(0.9);
}
