.table-container {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

table {
  width: 100%;
}

th.mat-header-cell {
  font-weight: 600;
}

td.mat-cell, th.mat-header-cell {
  padding: 12px 16px;
}
