<div class="details-container" *ngIf="product">

  <mat-card class="details-card">

    <h2>{{ product.name }}</h2>

    <div class="details-grid">
      <div><strong>Price:</strong> ₹ {{ product.price }}</div>
      <div><strong>Category:</strong> {{ product.category }}</div>
    </div>

    <div class="description">
      <strong>Description</strong>
      <p>{{ product.description }}</p>
    </div>

    <button mat-stroked-button class="back-btn" (click)="back()">
      Back
    </button>

  </mat-card>

</div>
